.page__containner{
    min-height: 100vh;
    overflow: hidden;
    scrollbar-width: none;
    
    height: 100vh;
}

.page__content {
    height: calc(100vh - 37px) !important;
    overflow-y: auto !important;
    margin-top: 36px !important;
    overflow: hidden !important;
  }

  .page{
    height: calc(100vh - 37px) !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    background-color: #e6ecf1 ;

    /* Modificar el scroll de la pagina */
    scrollbar-width: thin;
    scrollbar-color: #888 #e6ecf1;
  }

  .page__content .ov-hidden{
    overflow: hidden !important;
  }
 
  .dimmed{
    position: absolute;
    z-index: 100;
    background-color: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: obscurecerFondo 0.5s forwards;
  }

  .no-dimmed{
    opacity: 0.3;
    animation: obscurecerFondo 0.5s reverse;
  }

  @keyframes obscurecerFondo {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.3;
    }
    
  }

  .sidebar__dropmenu{
    position: fixed;
    left: 255px;
    opacity: 0;
    animation: animacionDropmenu 0.3s forwards;
  }

  @keyframes animacionDropmenu {
    0% {
      opacity: 0;
      left: 255px;
    }
    100% {
      opacity: 1;
      left: 263px;
    }
    
  }

.sidebar__dropmenu .close{
  display: none;

}


  